<h1>案件情報</h1>
<p>{{ project.projectSummary }}</p>
<p>依頼企業名：{{project.projectCliant}}</p>
<p>単価：{{project.projectUnitPrice}}</p>
<p>案件詳細：{{project.projectDetail}}</p>

<h1>従業員情報</h1>
<p>{{ employee.familyNameKanji }} {{ employee.firstNameKanji }}</p>
<p>カナ：{{employee.familyNameKana}} {{employee.firstNameKana}}</p>
<p>主な開発言語：{{employee.mainLanguage}}</p>
<p>経験年数：{{employee.yearsOfExp}}</p>

<form method="post" action="{% url 'assign_confirm' project.projectId employee.employeeId %}">
    {% csrf_token %}
    <p>本当にアサインしますか？</p>
    <input type="submit" name="confirm" value="はい" class="button">
    <input type="submit" name="confirm" value="いいえ" class="button">
</form>